<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Daraz Automation Suite"
       parallel="tests"
       thread-count="2">

    <!-- SEARCH TESTS -->
    <test name="Search Tests">
        <classes>
            <class name="com.daraz.automation.tests.search.SearchProductTest"/>
            <class name="com.daraz.automation.tests.search.InvalidSearchTest"/>
        </classes>
    </test>

    <!-- FILTER TESTS -->
    <test name="Filter Tests">
        <classes>
            <class name="com.daraz.automation.tests.filter.ApplyPriceFilterTest"/>
            <class name="com.daraz.automation.tests.filter.SortProductsTest"/>
        </classes>
    </test>

    <!-- PRODUCT TESTS -->
    <test name="Product Tests">
        <classes>
            <class name="com.daraz.automation.tests.product.OpenProductTest"/>
            <class name="com.daraz.automation.tests.product.VerifyProductDetailsTest"/>
            <class name="com.daraz.automation.tests.product.ImageGalleryTest"/>
        </classes>
    </test>

    <!-- PAGINATION TESTS -->
    <test name="Pagination Tests">
        <classes>
            <class name="com.daraz.automation.tests.paginations.PaginationTest"/>
        </classes>
    </test>

</suite>